<% provide(:title, "Anatomic Pathology") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Bridgeport Medical Center</title>
  </head>
<body>

	<div class = "frame1">
		<h12>Find A Doctor</h12>
	</div>

<div class = "onecategoryframe">
Anatomic Pathology
 <div class = "doctorinformation1">
 <div class= "doctorpicture1"> </div>
 <div class= "doctorname1">
Ugur Ozerdem, MD
 </div>
 <div>

 <div class= "doctorphone1">
Phone

 <div>
(203) 785-6601
</div>
</div>
<div class= "doctorlocation1">
Locations:
<div>
New Haven
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>   Ugur Ozerdem, MD </p>
			     <div class = "doctordetailscontainer">
			      <u>Biography</u>
			      <p></p>
			      <p></p>


<p>
Gender: Male
</p>
<p>
Language(s): English
</p>
<p>
 Affiliated With: Yale Medical Group (YMG)
</p>
<p>
 <p></p>
<u>Education & Training</u>
</p>
<p>
Education: Hacettepe University Faculty of Medicine
</p>
<p>
Hometown: Loyola University Medical Center, Chicago, IL
</p>
<p>
Fellowship: Weill Cornell Medical College
</p>

</div>
</div>
</div>

</div>
</div>
</div>







  <div class = "doctorinformation2">
 <div class= "doctorpicture2"> </div>
 <div class= "doctorname2">
Samuel G. Katz, MD, PhD
 </div>
 <div>

 <div class= "doctorphone2">
Phone

 <div>
(203) 785-2757
</div>
</div>
<div class= "doctorlocation2">
Locations:
<div>
New Haven
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>   Samuel G. Katz, MD, PhD </p>
			     <div class = "doctordetailscontainer">
			      <u>Biography</u>
			      <p></p>
			      <p></p>


<p>
Gender: Male
</p>
<p>
Language(s): English
</p>
<p>
 Affiliated With: Yale Medical Group (YMG)
</p>
<p>
 <p></p>
<u>Education & Training</u>
</p>
<p>
Education: Harvard Medical School
</p>
<p>
Hometown: Brigham & Women's Hospital
</p>
<p>
Fellowship: Brigham & Women's Hospital
</p>

</div>
</div>
</div>

</div>
</div>
</div>





   <div class = "doctorinformation3">
 <div class= "doctorpicture3"> </div>
 <div class= "doctorname3">
Peter A. Humphrey, MD
 </div>
 <div>

 <div class= "doctorphone3">
Phone

 <div>
(203) 785-3624
</div>
</div>
<div class= "doctorlocation3">
Locations:
<div>
 New Haven
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>   Peter A. Humphrey, MD </p>
			     <div class = "doctordetailscontainer">
			      <u>Biography</u>
			      <p></p>
			      <p></p>


<p>
Gender: Male
</p>
<p>
Language(s): English
</p>
<p>
 Affiliated With: Yale Medical Group (YMG)
</p>
<p>
 <p></p>
<u>Education & Training</u>
</p>
<p>
Education: University of Kansas School of Medicine
</p>
<p>
Hometown: Duke University
</p>

</div>
</div>
</div>

</div>
</div>
</div>







 </div>



</body>
</html>
