<% provide(:title, "Anesthesiology") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Bridgeport Medical Center</title>
  </head>
<body>

	<div class = "frame1">
		<h12>Find A Doctor</h12>
	</div>

<div class = "onecategoryframe">
Anesthesiology
 <div class = "doctorinformation1">
 <div class= "doctorpicture1"> </div>
 <div class= "doctorname1">
Pamela E. Gray, MD
 </div>
 <div>

 <div class= "doctorphone1">
Phone

 <div>
(203) 384-3366
</div>
</div>
<div class= "doctorlocation1">
Locations:
<div>
Bridgeport, Stratford
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>   Pamela E. Gray, MD </p>
			     <div class = "doctordetailscontainer">
			      <u>Biography:</u>
			      <p></p>
			      <p></p>


<p>
Gender: Female
</p>
<p>
Language(s): English
</p>
<p>
 Years In Practice: 18 years
</p>
<p>
 Affiliated With: Yale New Haven Children's Hospital, Bridgeport Campus
</p>
<p>
 <p></p>
<u>Education & Training:</u>
</p>
<p>
Education: University of Wisconsin
</p>
<p>
Internship: Brockton Hospital
</p>
<p>
Hometown: Mayo Clinic
</p>
<p>
Fellowship: Brigham and Women's Hospital
</p>

</div>
</div>
</div>

</div>
</div>
</div>






  <div class = "doctorinformation2">
 <div class= "doctorpicture2"> </div>
 <div class= "doctorname2">
David H. Jaffe, MD
 </div>
 <div>

 <div class= "doctorphone2">
Phone

 <div>
(203) 384-3072
</div>
</div>
<div class= "doctorlocation2">
Locations:
<div>
Bridgeport, Stratford
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>   David H. Jaffe, MD </p>
			     <div class = "doctordetailscontainer">
			      <u>Biography:</u>
			      <p></p>
			      <p></p>


<p>
Gender: Male
</p>
<p>
Language(s): English
</p>
<p>
 Years In Practice: 32 years
</p>
<p>
 Affiliated With: Yale New Haven Children's Hospital, Bridgeport Campus
</p>
<p>
 <p></p>
<u>Education & Training:</u>
</p>
<p>
Education: University of Cape Town
</p>
<p>
Internship: Woodstock Hospital, Cape Town, South Africa
</p>
<p>
Hometown: Mount Sinai Medical Center
</p>
<p>
Fellowship: Cleveland Clinic
</p>

</div>
</div>
</div>

</div>
</div>
</div>





   <div class = "doctorinformation3">
 <div class= "doctorpicture3"> </div>
 <div class= "doctorname3">
Charles B. Watson, MD
 </div>
 <div>

 <div class= "doctorphone3">
Phone

 <div>
(203) 384-3072
</div>
</div>
<div class= "doctorlocation3">
Locations:
<div>
 Stratford
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>   Charles B. Watson, MD </p>
			     <div class = "doctordetailscontainer">
			      <u>Biography:</u>
			      <p></p>
			      <p></p>


<p>
Gender: Male
</p>
<p>
Language(s): English
</p>
<p>
 Years In Practice: 39 years
</p>
<p>
 Affiliated With: Yale New Haven Children's Hospital, Bridgeport Campus
</p>
<p>
 <p></p>
<u>Education & Training:</u>
</p>
<p>
Education: University of Maryland School of Medicine, Baltimore, MD
</p>
<p>
Internship: Penn State Univ Hosp
</p>
<p>
Hometown: US Naval Hospital, Portsmouth, VA
</p>
<p>
Fellowship: GW University Medical Center;Children's Hospital NMC,Washington, DC
</p>

</div>
</div>
</div>

</div>
</div>
</div>







 </div>



</body>
</html>
