<% provide(:title, "Bariatric Surgery") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Bridgeport Medical Center</title>
  </head>
<body>

	<div class = "frame1">
		<h12>Find A Doctor</h12>
	</div>

<div class = "onecategoryframe">
Bariatric Surgery
 <div class = "doctorinformation1">
 <div class= "doctorpicture1"> </div>
 <div class= "doctorname1">
Geoffrey S. Nadzam, MD
 </div>
 <div>

 <div class= "doctorphone1">
Phone

 <div>
(203) 785-6060
</div>
</div>
<div class= "doctorlocation1">
Locations:
<div>
New Haven
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>   Geoffrey S. Nadzam, MD </p>
			     <div class = "doctordetailscontainer">
			      <u>Biography:</u>
			      <p></p>
			      <p></p>


<p>
Gender: Male
</p>
<p>
Language(s): English
</p>
<p>
 Years In Practice: 12 years
</p>
<p>
 <p></p>
<u>Education & Training:</u>
</p>
<p>
Education: UMDNJ - New Jersey Medical School
</p>
<p>
Hometown: Stanford University Medical Center
</p>
<p>
Fellowship: Stanford University Medical Center
</p>

</div>
</div>
</div>

</div>
</div>
</div>




  <div class = "doctorinformation2">
 <div class= "doctorpicture2"> </div>
 <div class= "doctorname2">
Andrew J. Duffy, MD
 </div>
 <div>

 <div class= "doctorphone2">
Phone

 <div>
(203) 785-6060
</div>
</div>
<div class= "doctorlocation2">
Locations:
<div>
New Haven, Fairfield
	</div>
		<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>   Andrew J. Duffy, MD </p>
			     <div class = "doctordetailscontainer">
			      <u>Biography:</u>
			      <p></p>
			      <p></p>


<p>
Gender: Male
</p>
<p>
Language(s): English
</p>
<p>
 Affiliated With: Yale Medical Group (YMG)
</p>
<p>
 <p></p>
<u>Education & Training:</u>
</p>
<p>
Education: University of Massachusetts Medical School
</p>
<p>
Hometown: University of Massachusetts Medical School
</p>
<p>
Fellowship: Weill Medical College of Cornell University
</p>

</div>
</div>
</div>

</div>
</div>
</div>



   <div class = "doctorinformation3">
 <div class= "doctorpicture3"> </div>
 <div class= "doctorname3">
Saber Ghiassi, MD
 </div>
 <div>

 <div class= "doctorphone3">
Phone

 <div>
(203) 418-9520
</div>
</div>
<div class= "doctorlocation3">
Locations:
<div>
 Fairfield
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>   Saber Ghiassi, MD </p>
			     <div class = "doctordetailscontainer">
			      <u>Biography:</u>
			      <p></p>
			      <p></p>


<p>
Gender: Male
</p>
<p>
Language(s): English
</p>
<p>
 Years In Practice: 6 years
</p>
<p>
 <p></p>
<u>Education & Training:</u>
</p>
<p>
Education: Brody School of Medicine
</p>
<p>
Hometown: Mount Sinai School of Medicine
</p>
<p>
Fellowship: Stanford University School of Medicine
</p>

</div>
</div>
</div>

</div>
</div>
</div>





 </div>



</body>
</html>
