<% provide(:title, "Cardio Vascular Disease") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Bridgeport Medical Center</title>
  </head>
<body>

	<div class = "frame1">
		<h12>Find A Doctor</h12>
	</div>

<div class = "onecategoryframe">
Cardiovascular Disease
 <div class = "doctorinformation1">
 <div class= "doctorpicture1"> </div>
 <div class= "doctorname1">
Gregory S. Bloom, MD
 </div>
 <div>

 <div class= "doctorphone1">
Phone

 <div>
(203) 333-8800
</div>
</div>
<div class= "doctorlocation1">
Locations:
<div>
Trumbull, Shelton
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>   Gregory S. Bloom, MD </p>
			     <div class = "doctordetailscontainer">
			      <u>Biography:</u>
			      <p></p>
			      <p></p>


<p>
Gender: Male
</p>
<p>
Language(s): English;Spanish
</p>
<p>
 Affiliated With: Northeast Medical Group
</p>
<p>
 <p></p>
<u>Education & Training:</u>
</p>
<p>
Education: Emory University;George Washington University School of Medicine
</p>
<p>
Internship: Beth Israel Medical Center
</p>
<p>
Hometown: Beth Israel Medical Center
</p>
<p>
Fellowship: North Shore Long Island Jewish Health System
</p>

</div>
</div>
</div>

</div>
</div>
</div>




  <div class = "doctorinformation2">
 <div class= "doctorpicture2"> </div>
 <div class= "doctorname2">
Robert M. Moskowitz, MD
 </div>
 <div>

 <div class= "doctorphone2">
Phone

 <div>
(203) 292-2000
</div>
</div>
<div class= "doctorlocation2">
Locations:
<div>
Fairfield, Trumbull, Milford
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>   Robert M. Moskowitz, MD </p>
			     <div class = "doctordetailscontainer">
			      <u>Biography:</u>
			      <p></p>
			      <p></p>


<p>
Gender: Male
</p>
<p>
Language(s): English;Spanish
</p>
<p>
 Years In Practice: 17 years
</p>
<p>
 Affiliated With: Northeast Medical Group
</p>
<p>
 <p></p>
<u>Education & Training:</u>
</p>
<p>
Education: Cornell Univ. Medical College
</p>
<p>
Internship: Brigham & Women's Hospital,Boston, MA
</p>
<p>
Hometown: Brigham & Women's Hospital,Boston, MA
</p>
<p>
Fellowship: Mount Sinai Medical Center, NY NY
</p>

</div>
</div>
</div>

</div>
</div>
</div>


   <div class = "doctorinformation3">
 <div class= "doctorpicture3"> </div>
 <div class= "doctorname3">
Linda Casale, MD
 </div>
 <div>

 <div class= "doctorphone3">
Phone

 <div>
(203) 292-2000
</div>
</div>
<div class= "doctorlocation3">
Locations:
<div>
 Fairfield, Trumbull
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>   Robert M. Moskowitz, MD </p>
			     <div class = "doctordetailscontainer">
			      <u>Biography:</u>
			      <p></p>
			      <p></p>


<p>
Gender: Female
</p>
<p>
Language(s): English;Spanish
</p>
<p>
 Years In Practice: 23 years
</p>
<p>
 Affiliated With: Northeast Medical Group
</p>
<p>
 <p></p>
<u>Education & Training:</u>
</p>
<p>
Education: New York Medical College
</p>
<p>
Internship: Montefiore Medical Center
</p>
<p>
Hometown: Montefiore Medical Center
</p>
<p>
Fellowship: University of California San Diego
</p>

</div>
</div>
</div>

</div>
</div>
</div>




 </div>



</body>
</html>
