<% provide(:title, "Clinical Cardiac Electro Physiology") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Bridgeport Medical Center</title>
  </head>
<body>

	<div class = "frame1">
		<h12>Find A Doctor</h12>
	</div>

<div class = "onecategoryframe">
Clinical Cardiac Electro Physiology
 <div class = "doctorinformation1">
 <div class= "doctorpicture1"> </div>
 <div class= "doctorname1">
Robert D. Winslow, MD
 </div>
 <div>

 <div class= "doctorphone1">
Phone

 <div>
  (203) 292-2000
</div>
</div>
<div class= "doctorlocation1">
Locations:
<div>
 Fairfield , Ridgefield , Trumbull , Milford , Danbury
</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>   Robert D. Winslow, MD </p>
			     <div class = "doctordetailscontainer">
			      <u>Biography:</u>
			      <p></p>
			      <p></p>


<p>
Gender: Male
</p>
<p>
Language(s): English;Spanish
</p>
<p>
 Years In Practice: 9 years
</p>
<p>
 Affiliated With: Northeast Medical Group
</p>
<p>
 <p></p>
<u>Education & Training:</u>
</p>
<p>
Education: North Western University
</p>
<p>
Hometown: Brigham & Women's Hospital,Boston, MA
</p>
<p>
Fellowship: Mount Sinai Hospital - New York;Brigham & Women's Hospital,Boston, MA
</p>

</div>
</div>
</div>

</div>
</div>
</div>



  <div class = "doctorinformation2">
 <div class= "doctorpicture2"> </div>
 <div class= "doctorname2">
Nimrod Lavi, MD
 </div>
 <div>

 <div class= "doctorphone2">
Phone

 <div>
  (203) 867-5400
</div>
</div>
<div class= "doctorlocation2">
Locations:
<div>
New Haven , Bridgeport
 </div>
 <div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>   Nimrod Lavi, MD </p>
			     <div class = "doctordetailscontainer">
			      <u>Biography:</u>
			      <p></p>
			      <p></p>


<p>
Gender: Male
</p>
<p>
Language(s): English
</p>
<p>
 Years In Practice: 7 years
</p>
<p>
 Affiliated With: New Haven Community Medical Group (NHCMG)
</p>
<p>
 <p></p>
<u>Education & Training:</u>
</p>
<p>
Education: The Hebrew University
</p>
<p>
Internship: UMass Medical Center
</p>
<p>
Hometown: UMass Medical Center
</p>
<p>
Fellowship: University of Illinois
</p>

</div>
</div>
</div>

</div>
</div>
</div>




<div class = "doctorinformation3">
 <div class= "doctorpicture3"> </div>
 <div class= "doctorname3">
Murali Chiravuri, MD,PhD
 </div>
 <div>

 <div class= "doctorphone3">
Phone

 <div>
  (203) 292-2000
</div>
</div>
<div class= "doctorlocation3">
Locations:
<div>
  Fairfield , Milford , Danbury , Ridgefield , Trumbull
 </div>
 <div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>   Murali Chiravuri, MD,PhD </p>
			     <div class = "doctordetailscontainer">
			      <u>Biography:</u>
			      <p></p>
			      <p></p>


<p>
Gender: Male
</p>
<p>
Language(s): English
</p>
<p>
 Affiliated With: Northeast Medical Group
</p>
<p>
 <p></p>
<u>Education & Training:</u>
</p>
<p>
Education: Tufts Univ School of Medicine
</p>
<p>
Internship: Brigham & Women's Hospital - Harvard Medical School
</p>
<p>
Hometown: Brigham & Women's Hospital - Harvard Medical School
</p>
<p>
Fellowship: Massachusetts Gen Hospital (Howard Medical School);Brigham & Women's Hospital - Harvard Medical School
</p>

</div>
</div>
</div>

</div>
</div>
</div>


 </div>



</body>
</html>
