<% provide(:title, "Colon Rectal Surgery") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Bridgeport Medical Center</title>
  </head>
<body>

	<div class = "frame1">
		<h12>Find A Doctor</h12>
	</div>

<div class = "onecategoryframe">
Colon Rectal Surgery
 <div class = "doctorinformation1">
 <div class= "doctorpicture1"> </div>
 <div class= "doctorname1">
Vikram B. Reddy, MD,PhD
 </div>
 <div>

 <div class= "doctorphone1">
Phone

 <div>
  (203) 785-2616
</div>
</div>
<div class= "doctorlocation1">
Locations:
<div>
 New Haven
</div>
<div class="dropdown2">
     <div class= "doctordetails1"><h13>More Details</h13>
     </div>
   <div class= "dropdown-content2">
     <p>  Vikram B. Reddy, MD,PhD </p>
          <div class = "doctordetailscontainer">
           <u>Biography:</u>
           <p></p>
           <p></p>


<p>
Gender: Male
</p>
<p>
Language(s): English
</p>
<p>
Affiliated With: Yale Medicine
</p>
<p>
<p></p>
<u>Education & Training:</u>
</p>
<p>
Education: Medical College of Georgia
</p>
<p>
Hometown: Yale New Haven Hospital, New Haven, CT
</p>
<p>
Fellowship: University of Medicine and Dentistry of New Jersey
</p>

</div>
</div>
</div>

</div>
</div>
</div>





</div>



</body>
</html>
