<% provide(:title, "Dentistry") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Bridgeport Medical Center</title>
  </head>
<body>

	<div class = "frame1">
		<h12>Find A Doctor</h12>
	</div>

<div class = "onecategoryframe">
Dentistry
 <div class = "doctorinformation1">
 <div class= "doctorpicture1"> </div>
 <div class= "doctorname1">
Andrew Spadinger, DDS
 </div>
 <div>

 <div class= "doctorphone1">
Phone

 <div>
  (203) 371-8282
</div>
</div>
<div class= "doctorlocation1">
Locations:
<div>
 Bridgeport , Shelton
</div>
<div class="dropdown2">
    <div class= "doctordetails1"><h13>More Details</h13>
    </div>
  <div class= "dropdown-content2">
    <p>   Andrew Spadinger, DDS </p>
         <div class = "doctordetailscontainer">
          <u>Biography:</u>
          <p></p>
          <p></p>


<p>
Gender: Male
</p>
<p>
Language(s): English;Portuguese;Spanish
</p>
<p>
Years In Practice: 24 years
</p>
<p>
<p></p>
<u>Education & Training:</u>
</p>
<p>
Education: SUNY - Buffalo School of Dental Medicine
</p>
<p>
Hometown: Univ of Nebraska MC
</p>

</div>
</div>
</div>

</div>
</div>
</div>


<div class = "doctorinformation2">
<div class= "doctorpicture2"> </div>
<div class= "doctorname2">
Swati A. Khambe, DDS
</div>
<div>

<div class= "doctorphone2">
Phone

<div>
(203) 375-1649
</div>
</div>
<div class= "doctorlocation2">
Locations:
<div>
Stratford
</div>
<div class="dropdown2">
    <div class= "doctordetails1"><h13>More Details</h13>
    </div>
  <div class= "dropdown-content2">
    <p>   Swati A. Khambe, DDS </p>
         <div class = "doctordetailscontainer">
          <u>Biography:</u>
          <p></p>
          <p></p>


<p>
Gender: Female
</p>
<p>
Language(s): English
</p>
<p>
<p></p>
<u>Education & Training:</u>
</p>
<p>
Education: Ohio State University
</p>
<p>
Hometown: Yale New Haven Hospital
</p>

</div>
</div>
</div>

</div>
</div>
</div>

<div class = "doctorinformation3">
<div class= "doctorpicture3"> </div>
<div class= "doctorname3">
Lawrence Dinkes, DDS
</div>
<div>

<div class= "doctorphone3">
Phone

<div>
(203) 371-8282
</div>
</div>
<div class= "doctorlocation3">
Locations:
<div>
Bridgeport , Shelton
</div>
<div class="dropdown2">
    <div class= "doctordetails1"><h13>More Details</h13>
    </div>
  <div class= "dropdown-content2">
    <p>   Lawrence Dinkes, DDS </p>
         <div class = "doctordetailscontainer">
          <u>Biography:</u>
          <p></p>
          <p></p>


<p>
Gender: Male
</p>
<p>
Language(s): English;Italian;Portuguese;Spanish
</p>
<p>
Years In Practice: 36 years
</p>
<p>
<p></p>
<u>Education & Training:</u>
</p>
<p>
Education: New York University School of Medicine, NY, NY
</p>
<p>
Hometown: Montefiore Hosp & MC
</p>

</div>
</div>
</div>

</div>
</div>
</div>

</div>



</body>
</html>
