<% provide(:title, "Endocrinology") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Bridgeport Medical Center</title>
  </head>
<body>

	<div class = "frame1">
		<h12>Find A Doctor</h12>
	</div>

<div class = "onecategoryframe">
Endocrinology
 <div class = "doctorinformation1">
 <div class= "doctorpicture1"> </div>
 <div class= "doctorname1">
Glenn Rich, MD
 </div>
 <div>

 <div class= "doctorphone1">
Phone

 <div>
  (203) 459-5100
</div>
</div>
<div class= "doctorlocation1">
Locations:
<div>
 Trumbull
</div>
<div class="dropdown2">
    <div class= "doctordetails1"><h13>More Details</h13>
    </div>
  <div class= "dropdown-content2">
    <p>  Glenn Rich, MD  </p>
         <div class = "doctordetailscontainer">
          <u>Biography:</u>
          <p></p>
          <p></p>


<p>
Gender: Male
</p>
<p>
Language(s): English
</p>
<p>
Years In Practice: 24 years
</p>
<p>
<p></p>
<u>Education & Training:</u>
</p>
<p>
Education: Cornell University Medical College
</p>
<p>
Internship: St Lukes Hospital
</p>
<p>
Hometown: St Lukes Hospital
</p>
<p>
Fellowship: Brigham and Women's Hospital
</p>

</div>
</div>
</div>

</div>
</div>
</div>


<div class = "doctorinformation2">
<div class= "doctorpicture2"> </div>
<div class= "doctorname2">
Sachin K. Majumdar, MD
</div>
<div>

<div class= "doctorphone2">
Phone

<div>
(203) 259-7871
</div>
</div>
<div class= "doctorlocation2">
Locations:
<div>
Fairfield , Bridgeport
</div>
<div class="dropdown2">
    <div class= "doctordetails1"><h13>More Details</h13>
    </div>
  <div class= "dropdown-content2">
    <p>   Sachin K. Majumdar, MD  </p>
         <div class = "doctordetailscontainer">
          <u>Biography:</u>
          <p></p>
          <p></p>


<p>
Gender: Male
</p>
<p>
Language(s): English
</p>
<p>
Years In Practice: 7 years
</p>
<p>
Affiliated With: Northeast Medical Group
</p>
<p>
<p></p>
<u>Education & Training:</u>
</p>
<p>
Education: University of Rochester School of Medicine New York
</p>
<p>
Internship: University of Virginia Medical Center, Charlottesville, VA
</p>
<p>
Hometown: University of Virginia Medical Center, Charlottesville, VA
</p>
<p>
Fellowship: University of Virginia Medical Center, Charlottesville, VA;Yale School of Medicine
</p>

</div>
</div>
</div>

</div>
</div>
</div>



<div class = "doctorinformation3">
<div class= "doctorpicture3"> </div>
<div class= "doctorname3">
Reza Yavari, MD
</div>
<div>

<div class= "doctorphone3">
Phone

<div>
(203) 373-7388
</div>
</div>
<div class= "doctorlocation3">
Locations:
<div>
Trumbull
</div>
<div class="dropdown2">
    <div class= "doctordetails1"><h13>More Details</h13>
    </div>
  <div class= "dropdown-content2">
    <p>   Reza Yavari, MD  </p>
         <div class = "doctordetailscontainer">
          <u>Biography:</u>
          <p></p>
          <p></p>


<p>
Gender: Male
</p>
<p>
Language(s): English;Farsi (Persian);French
</p>
<p>
Years In Practice: 21 years
</p>
<p>
Affiliated With: Northeast Medical Group
</p>
<p>
<p></p>
<u>Education & Training:</u>
</p>
<p>
Education: University of Paris
</p>
<p>
Internship: University of Connecticut Health Center
</p>
<p>
Hometown: University of Connecticut Health Center
</p>
<p>
Fellowship: Yale School of Medicine
</p>

</div>
</div>
</div>

</div>
</div>
</div>

</div>



</body>
</html>
