<% provide(:title, "Geriatric Medicine") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Bridgeport Medical Center</title>
  </head>
<body>

	<div class = "frame1">
		<h12>Find A Doctor</h12>
	</div>

<div class = "onecategoryframe">
Geriatric Medicine
 <div class = "doctorinformation1">
 <div class= "doctorpicture1"> </div>
 <div class= "doctorname1">
Anthony J. Mongillo, MD
 </div>
 <div>

 <div class= "doctorphone1">
Phone

 <div>
  (203) 373-9100
</div>
</div>
<div class= "doctorlocation1">
Locations:
<div>
 Bridgeport
 </div>
 </div>
 </div>
 </div>


  <div class = "doctorinformation2">
 <div class= "doctorpicture2"> </div>
 <div class= "doctorname2">
 M. Ehsan Qadir, MD
 </div>
 <div>

 <div class= "doctorphone2">
Phone

 <div>
  (203) 732-1677
</div>
</div>
<div class= "doctorlocation2">
Locations:
<div>
Ansonia
 </div>
 </div>
 </div>
 </div>

<div class = "doctorinformation3">
 <div class= "doctorpicture3"> </div>
 <div class= "doctorname3">
Marina Blagodatny, MD
 </div>
 <div>

 <div class= "doctorphone3">
Phone

 <div>
  (203) 384-3388
</div>
</div>
<div class= "doctorlocation3">
Locations:
<div>
 Stratford
 </div>
 </div>
 </div>
 </div>

 </div>



</body>
</html>
