<% provide(:title, "Head Neck Surgery") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Bridgeport Medical Center</title>
  </head>
<body>

	<div class = "frame1">
		<h12>Find A Doctor</h12>
	</div>

<div class = "onecategoryframe">
Head Neck Surgery
 <div class = "doctorinformation1">
 <div class= "doctorpicture1"> </div>
 <div class= "doctorname1">
Alexandra E. Kejner, MD
 </div>
 <div>

 <div class= "doctorphone1">
Phone

 <div>
  (203) 375-0050
</div>
</div>
<div class= "doctorlocation1">
Locations:
<div>
 Stratford , New Haven , Bridgeport
 </div>
 </div>
 </div>
 </div>


  <div class = "doctorinformation2">
 <div class= "doctorpicture2"> </div>
 <div class= "doctorname2">
 Craig D. Friedman, MD
 </div>
 <div>

 <div class= "doctorphone2">
Phone

 <div>
  (203) 349-8828
</div>
</div>
<div class= "doctorlocation2">
Locations:
<div>
Westport
 </div>
 </div>
 </div>
 </div>

<div class = "doctorinformation3">
 <div class= "doctorpicture3"> </div>
 <div class= "doctorname3">
Michael N. Waltzman, MD
 </div>
 <div>

 <div class= "doctorphone3">
Phone

 <div>
  (203) 268-0228
</div>
</div>
<div class= "doctorlocation3">
Locations:
<div>
 Trumbull
 </div>
 </div>
 </div>
 </div>

 </div>



</body>
</html>
