<% provide(:title, "Hematology") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Bridgeport Medical Center</title>
  </head>
<body>

	<div class = "frame1">
		<h12>Find A Doctor</h12>
	</div>

<div class = "onecategoryframe">
Hematology
 <div class = "doctorinformation1">
 <div class= "doctorpicture1"> </div>
 <div class= "doctorname1">
Sandhya Dhanjal, MD
 </div>
 <div>

 <div class= "doctorphone1">
Phone

 <div>
  (203) 255-4545
</div>
</div>
<div class= "doctorlocation1">
Locations:
<div>
 Fairfield
 </div>
 </div>
 </div>
 </div>


  <div class = "doctorinformation2">
 <div class= "doctorpicture2"> </div>
 <div class= "doctorname2">
 Samuel G. Katz, MD,PhD
 </div>
 <div>

 <div class= "doctorphone2">
Phone

 <div>
  (203) 785-2757
</div>
</div>
<div class= "doctorlocation2">
Locations:
<div>
New Haven
 </div>
 </div>
 </div>
 </div>

<div class = "doctorinformation3">
 <div class= "doctorpicture3"> </div>
 <div class= "doctorname3">
David Witt, MD
 </div>
 <div>

 <div class= "doctorphone3">
Phone

 <div>
  (203) 502-8400
</div>
</div>
<div class= "doctorlocation3">
Locations:
<div>
 Trumbull
 </div>
 </div>
 </div>
 </div>

 </div>



</body>
</html>
