<% provide(:title, "Infectious Disease") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Bridgeport Medical Center</title>
  </head>
<body>

	<div class = "frame1">
		<h12>Find A Doctor</h12>
	</div>

<div class = "onecategoryframe">
Infectious Disease
 <div class = "doctorinformation1">
 <div class= "doctorpicture1"> </div>
 <div class= "doctorname1">
Genevieve John, MD
 </div>
 <div>

 <div class= "doctorphone1">
Phone

 <div>
  (203) 384-0451
</div>
</div>
<div class= "doctorlocation1">
Locations:
<div>
 Fairfield
 </div>
 <div class= "dropdown-content2">
			<p>  Genevieve John, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Female
</p>
<p>
Language(s): English
</p>
<p>
 Affiliated With: Northeast Medical Group

</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: St. Georges University School of Medicine
</p>
<p>
Internship: Seton Hall University School of Graduate Medical Education
</p>
<p>
Hometown: Seton Hall University School of Graduate Medical Education
</p>
<p>
Fellowship: Seton Hall University School of Graduate Medical Education
</p>

 </div>
 </div>
 </div>
 </div>
 </div>
 </div>


  <div class = "doctorinformation2">
 <div class= "doctorpicture2"> </div>
 <div class= "doctorname2">
 Zane Saul, MD
 </div>
 <div>

 <div class= "doctorphone2">
Phone

 <div>
  (203) 383-4466
</div>
</div>
<div class= "doctorlocation2">
Locations:
<div>
Stratford , Southport
 </div>
 <div class= "dropdown-content2">
			<p>  Zane Saul, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Male
</p>
<p>
Language(s): English, Croatian
</p>
<p>
Years In Practice: 26
</p>
<p>
 Affiliated With: Yale New Haven Children's Hospital, Bridgeport Campus

</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>
Hometown: Brooklyn Hospital
</p>
<p>
Fellowship: Hackensack Medical Center
</p>

 </div>
 </div>
 </div>
 </div>
 </div>
 </div>

<div class = "doctorinformation3">
 <div class= "doctorpicture3"> </div>
 <div class= "doctorname3">
Goran Miljkovic, MD
 </div>
 <div>

 <div class= "doctorphone3">
Phone

 <div>
  (203) 383-4466
</div>
</div>
<div class= "doctorlocation3">
Locations:
<div>
 Stratford , Southport
 </div>
 <div class= "dropdown-content2">
			<p>  Goran Miljkovic, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Male
</p>
<p>
Language(s): English
</p>
<p>
Years In Practice: 20
</p>
<p>
 Affiliated With: Yale New Haven Children's Hospital, Bridgeport Campus

</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>
Internship: Englewood Hospital
</p>
<p>
Hometown: Englewood Hospital
</p>
<p>
Fellowship: St Lukes/Roosevelt Hospital
</p>

 </div>
 </div>
 </div>
 </div>
 </div>
 </div>

 </div>



</body>
</html>
