<% provide(:title, "Integrative Medicine") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Bridgeport Medical Center</title>
  </head>
<body>

	<div class = "frame1">
		<h12>Find A Doctor</h12>
	</div>

<div class = "onecategoryframe">
Integrative Medicine
 <div class = "doctorinformation1">
 <div class= "doctorpicture1"> </div>
 <div class= "doctorname1">
Barbara Sager, MD
 </div>
 <div>

 <div class= "doctorphone1">
Phone

 <div>
  (203) 254-3886
</div>
</div>
<div class= "doctorlocation1">
Locations:
<div>
 Southport
 </div>
 <div class= "dropdown-content2">
			<p> Barbara Sager, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Female
</p>
<p>
Language(s): English, Spanish
</p>
<p>
Years In Practice: 32
</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: Finch University of Health Sciences/Chicago Medical School
</p>
<p>
Internship: University of Illinois
</p>
<p>
Hometown: University of Illinois
</p>

 </div>
 </div>
 </div>
 </div>
 </div>
 </div>




 </div>



</body>
</html>
