<% provide(:title, "Neuroradiology") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Bridgeport Medical Center</title>
  </head>
<body>

	<div class = "frame1">
		<h12>Find A Doctor</h12>
	</div>

<div class = "onecategoryframe">
Neuroradiology
 <div class = "doctorinformation1">
 <div class= "doctorpicture1"> </div>
 <div class= "doctorname1">
Michael D. Meszaros, MD
 </div>
 <div>

 <div class= "doctorphone1">
Phone

 <div>
(203) 696-6125
</div>
</div>
<div class= "doctorlocation1">
Locations:
<div>
Shelton , Trumbull
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Michael D. Meszaros, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Male
</p>
<p>
Language(s): English, Polish, Spanish
</p>
<p>
Years In Practice: 8
</p>
<p>
 Affiliated With: Yale New Haven Children's Hospital, Bridgeport Campus

</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: State University of New York (SUNY) - Syracuse
</p>
<p>
Internship: Mayo CLinic Jacksonville
</p>
<p>
Hometown: Dartmouth Hitchcock Medical Center, New Hampshire
</p>
<p>
Fellowship: Dartmouth Hitchcock Medical Center, New Hampshire
</p>

 </div>
 </div>
 </div>
	</div>
 </div>
 </div>



  <div class = "doctorinformation2">
 <div class= "doctorpicture2"> </div>
 <div class= "doctorname2">
Joshua M. Sapire, MD
 </div>
 <div>

 <div class= "doctorphone2">
Phone

 <div>
(203) 452-2244
</div>
</div>
<div class= "doctorlocation2">
Locations:
<div>
Trumbull
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Joshua M. Sapire, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Male
</p>
<p>
Language(s): English
</p>
<p>
Years In Practice: 11
</p>
<p>
 Affiliated With: Yale New Haven Children's Hospital, Bridgeport Campus

</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: University of Texas Medical Branch at Galveston
</p>
<p>
Internship: University of Illinois at Chicago
</p>
<p>
Hometown: SUNY Downstate Medical Center; Brooklyn, New York
</p>
<p>
Fellowship: Yale New Haven Hospital, New Haven, CT
</p>

 </div>
 </div>
 </div>
	</div>
 </div>
 </div>


   <div class = "doctorinformation3">
 <div class= "doctorpicture3"> </div>
 <div class= "doctorname3">
Mark A. Rosovsky, MD
 </div>
 <div>

 <div class= "doctorphone3">
Phone

 <div>
(203) 636-6125
</div>
</div>
<div class= "doctorlocation3">
Locations:
<div>
Orange
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Mark A. Rosovsky, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Male
</p>
<p>
Language(s): English
</p>
<p>
Years In Practice: 20
</p>
<p>
 Affiliated With: Yale New Haven Children's Hospital, Bridgeport Campus

</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: SUNY Downstate Medical Center, NY
</p>
<p>
Internship: St Lukes Roosevelt, NYC
</p>
<p>
Hometown: Beth Israel Medical Center
</p>
<p>
Fellowship: NYU Medical Center, New York NY
</p>

 </div>
 </div>
 </div>
	</div>
 </div>
 </div>


  </div>



</body>
</html>
