<% provide(:title, "Nuclear Medicine") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Bridgeport Medical Center</title>
  </head>
<body>

	<div class = "frame1">
		<h12>Find A Doctor</h12>
	</div>

<div class = "onecategoryframe">
Nuclear Medicine
 <div class = "doctorinformation1">
 <div class= "doctorpicture1"> </div>
 <div class= "doctorname1">
Scott Williams, MD
 </div>
 <div>

 <div class= "doctorphone1">
Phone

 <div>
(203) 696-6125
</div>
</div>
<div class= "doctorlocation1">
Locations:
<div>
Shelton
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Scott Williams, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Male
</p>
<p>
Language(s): English
</p>
<p>
Years In Practice: 22
</p>
<p>
 Affiliated With: Yale New Haven Children's Hospital, Bridgeport Campus

</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: George Washington University School of Medicine & Health Sciences, Washington, DC
</p>
<p>
Internship: Madigan Army Medical Center
</p>
<p>
Hometown: Walter Reed Army Medical Center
</p>
<p>
Fellowship: Walter Reed Army Medical Center
</p>

 </div>
 </div>
 </div>
	</div>
 </div>
 </div>



  <div class = "doctorinformation2">
 <div class= "doctorpicture2"> </div>
 <div class= "doctorname2">
Doron Amir, MD
 </div>
 <div>

 <div class= "doctorphone2">
Phone

 <div>
(203) 334-2100
</div>
</div>
<div class= "doctorlocation2">
Locations:
<div>
Bridgeport
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Doron Amir, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Male
</p>
<p>
Language(s): English, Hebrew, Italian, Spanish
</p>
<p>
Years In Practice: 23
</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>
Hometown: Maimonides MC
</p>
<p>
Fellowship: Winthrop University Hospital
</p>

 </div>
 </div>
 </div>
	</div>
 </div>
 </div>


   <div class = "doctorinformation3">
 <div class= "doctorpicture3"> </div>
 <div class= "doctorname3">
Alon Ronen, MD
 </div>
 <div>

 <div class= "doctorphone3">
Phone

 <div>
(203) 333-8800
</div>
</div>
<div class= "doctorlocation3">
Locations:
<div>
Trumbull
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Alon Ronen, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Male
</p>
<p>
Language(s): English
</p>
<p>
 Affiliated With: Northeast Medical Group

</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: Medical College of Pennsylvania
</p>
<p>
Internship: University of Massachessettes
</p>
<p>
Hometown: University of Massachessettes
</p>
<p>
Fellowship: University of Massachessettes
</p>

 </div>
 </div>
 </div>
	</div>
 </div>
 </div>


  </div>



</body>
</html>
