<% provide(:title, "Oral Maxillofacial Surgery") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Bridgeport Medical Center</title>
  </head>
<body>

	<div class = "frame1">
		<h12>Find A Doctor</h12>
	</div>

<div class = "onecategoryframe">
Oral Maxillofacial Surgery
 <div class = "doctorinformation1">
 <div class= "doctorpicture1"> </div>
 <div class= "doctorname1">
Lawrence I. Lipton, DMD
 </div>
 <div>

 <div class= "doctorphone1">
Phone

 <div>
(203) 336-5544
</div>
</div>
<div class= "doctorlocation1">
Locations:
<div>
Fairfield, Bridgeport
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Lawrence I. Lipton, DMD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Male
</p>
<p>
Language(s): English, Spanish
</p>
<p>
Years In Practice: 42
</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: Tufts University School of Medicine, Boston, MA
</p>
<p>
Hometown: Tufts University of Dental Med, DMD
</p>

 </div>
 </div>
 </div>
	</div>
 </div>
 </div>



  <div class = "doctorinformation2">
 <div class= "doctorpicture2"> </div>
 <div class= "doctorname2">
Lawrence Dinkes, DDS
 </div>
 <div>

 <div class= "doctorphone2">
Phone

 <div>
(203) 371-8282
</div>
</div>
<div class= "doctorlocation2">
Locations:
<div>
Bridgeport, Shelton
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<div class= "dropdown-content2">
			<p>  Lawrence Dinkes, DDS </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Male
</p>
<p>
Language(s): English, Italian, Portuguese, Spanish
</p>
<p>
Years In Practice: 36
</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: New York University School of Medicine, NY, NY
</p>
<p>
Hometown: Montefiore Hospital & MC
</p>

 </div>
 </div>
 </div>
	</div>
 </div>
 </div>


   <div class = "doctorinformation3">
 <div class= "doctorpicture3"> </div>
 <div class= "doctorname3">
Paula C. Cerqueira, DMD
 </div>
 <div>

 <div class= "doctorphone3">
Phone

 <div>
(203) 371-8282
</div>
</div>
<div class= "doctorlocation3">
Locations:
<div>
Bridgeport, Huntington
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Paula C. Cerqueira, DMD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Female
</p>
<p>
Language(s): English, Portuguese, Spanish
</p>
<p>
Years In Practice: 12
</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: Tufts School of Dental Medicine
</p>
<p>
Hometown: Uconn; Uconn School of Dentistry
</p>

 </div>
 </div>
 </div>
	</div>
 </div>
 </div>


  </div>



</body>
</html>
