<% provide(:title, "Otolaryngology") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Bridgeport Medical Center</title>
  </head>
<body>

	<div class = "frame1">
		<h12>Find A Doctor</h12>
	</div>

<div class = "onecategoryframe">
Otolaryngology
 <div class = "doctorinformation1">
 <div class= "doctorpicture1"> </div>
 <div class= "doctorname1">
Sara L. Richer, MD
 </div>
 <div>

 <div class= "doctorphone1">
Phone

 <div>
(203) 459-2666
</div>
</div>
<div class= "doctorlocation1">
Locations:
<div>
Trumbull
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Sara L. Richer, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Female
</p>
<p>
Language(s): English
</p>
<p>
Years In Practice: 7
</p>
<p>
 Affiliated With: Northeast Medical Group, Yale New Haven Children's Hospital, Bridgeport Campus

</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: Rush Medical College
</p>
<p>
Internship: McGaw Medical Center Northwestern University
</p>
<p>
Hometown: McGaw Medical Center Northwestern University
</p>
<p>
Fellowship: Massachusetts Eye & Ear Infirmary - Havard University / Boston MA
</p>

 </div>
 </div>
 </div>
	</div>
 </div>
 </div>



  <div class = "doctorinformation2">
 <div class= "doctorpicture2"> </div>
 <div class= "doctorname2">
Bradford S. Chervin, MD
 </div>
 <div>

 <div class= "doctorphone2">
Phone

 <div>
(203) 256-3338
</div>
</div>
<div class= "doctorlocation2">
Locations:
<div>
Southport
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Bradford S. Chervin, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Male
</p>
<p>
Language(s): English, Spanish
</p>
<p>
Years In Practice: 17
</p>
<p>
 Affiliated With: Yale New Haven Children's Hospital, Bridgeport Campus

</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: George Washington University School of Medicine & Health Sciences, Washington, DC
</p>
<p>
Internship: University of Tennessee-Memphis
</p>
<p>
Hometown: University of Tennessee-Memphis
</p>


 </div>
 </div>
 </div>
	</div>
 </div>
 </div>


   <div class = "doctorinformation3">
 <div class= "doctorpicture3"> </div>
 <div class= "doctorname3">
Michael N. Waltzman, MD
 </div>
 <div>

 <div class= "doctorphone3">
Phone

 <div>
(203) 268-0228
</div>
</div>
<div class= "doctorlocation3">
Locations:
<div>
Trumbull
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Michael N. Waltzman, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Male
</p>
<p>
Language(s): English, Spanish
</p>
<p>
Years In Practice: 16
</p>
<p>
 Affiliated With: Northeast Medical Group

</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: Chicago Medical School, Chicago, IL
</p>
<p>
Internship: New York University Medical Center, New York NY
</p>
<p>
Hometown: New York University Medical Center, New York NY
</p>


 </div>
 </div>
 </div>
	</div>
 </div>
 </div>


  </div>



</body>
</html>
