<% provide(:title, "Pain Medicine Pain Management") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Bridgeport Medical Center</title>
  </head>
<body>

	<div class = "frame1">
		<h12>Find A Doctor</h12>
	</div>

<div class = "onecategoryframe">
Pain MedicinePain Management
 <div class = "doctorinformation1">
 <div class= "doctorpicture1"> </div>
 <div class= "doctorname1">
Robert J. Boolbol, MD
 </div>
 <div>

 <div class= "doctorphone1">
Phone

 <div>
(203) 373-7330
</div>
</div>
<div class= "doctorlocation1">
Locations:
<div>
Trumbull
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Robert J. Boolbol, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Male
</p>
<p>
Language(s): English
</p>
<p>
Years In Practice: 14
</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: New York Medical College, Valhalla, NY
</p>
<p>
Internship: Lenox Hill Hospital, N.Y.
</p>
<p>
Hometown: Columbia Presbyterian Med Center
</p>
<p>
Fellowship: University of Chicago Hospital, IL
</p>

 </div>
 </div>
 </div>
	</div>
 </div>
 </div>



  <div class = "doctorinformation2">
 <div class= "doctorpicture2"> </div>
 <div class= "doctorname2">
Rahul S. Anand, MD
 </div>
 <div>

 <div class= "doctorphone2">
Phone

 <div>
(203) 319-9355
</div>
</div>
<div class= "doctorlocation2">
Locations:
<div>
Fairfield
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Rahul S. Anand, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Male
</p>
<p>
Language(s): English, Hindi
</p>
<p>
Years In Practice: 10
</p>
<p>
 Affiliated With: Yale New Haven Children's Hospital, Bridgeport Campus

</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: Boston University School of Medicine
</p>
<p>
Internship: Boston Medical Center
</p>
<p>
Hometown: University of Pennsylvania
</p>
<p>
Fellowship: University of Pennsylvania
</p>

 </div>
 </div>
 </div>
	</div>
 </div>
 </div>


   <div class = "doctorinformation3">
 <div class= "doctorpicture3"> </div>
 <div class= "doctorname3">
Pardeep K. Sood, MD
 </div>
 <div>

 <div class= "doctorphone3">
Phone

 <div>
(203) 373-7330
</div>
</div>
<div class= "doctorlocation3">
Locations:
<div>
Trumbull
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Pardeep K. Sood, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Male
</p>
<p>
Language(s): English, Indian, Spanish
</p>
<p>
Years In Practice: 20
</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: Dayanand Medical College
</p>
<p>
Internship: Dayanand Medical College
</p>
<p>
Hometown: Post Graduate Institute of Medical Education & Research; Yale New Haven Hospital
</p>
<p>
Fellowship: Yale School of Medicine; Mayo Clinic
</p>

 </div>
 </div>
 </div>
	</div>
 </div>
 </div>


  </div>



</body>
</html>
