<% provide(:title, "Pathology") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Bridgeport Medical Center</title>
  </head>
<body>

	<div class = "frame1">
		<h12>Find A Doctor</h12>
	</div>

<div class = "onecategoryframe">
Pathology
 <div class = "doctorinformation1">
 <div class= "doctorpicture1"> </div>
 <div class= "doctorname1">
Young J. Choi, MD
 </div>
 <div>

 <div class= "doctorphone1">
Phone

 <div>
(203) 384-3025
</div>
</div>
<div class= "doctorlocation1">
Locations:
<div>
Bridgeport
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Young J. Choi, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Female
</p>
<p>
Language(s): English
</p>
<p>
Years In Practice: 44
</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: Seoul National University College of Medicine
</p>
<p>
Internship: Jewish Hospital of Brooklyn, NY
</p>
<p>
Hometown: NY Hospital-Cornell; Boston City Hospital, Boston, MA
</p>
<p>
Fellowship: Memorial Sloan Kettering Hospital, NY
</p>

 </div>
 </div>
 </div>
	</div>
 </div>
 </div>



  <div class = "doctorinformation2">
 <div class= "doctorpicture2"> </div>
 <div class= "doctorname2">
Andrea L. Barbieri, MD
 </div>
 <div>

 <div class= "doctorphone2">
Phone

 <div>
(203) 737-7037
</div>
</div>
<div class= "doctorlocation2">
Locations:
<div>
New Haven
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Andrea L. Barbieri, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Female
</p>
<p>
Language(s): English
</p>
<p>
Years In Practice: 2
</p>
<p>
 Affiliated With: Yale Medical Group (YMG)

</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: Case Western Reserve University; Wayne State University
</p>
<p>
Internship: Yale New Haven Hospital
</p>
<p>
Fellowship: Medical College of Wisconsion
</p>

 </div>
 </div>
 </div>
	</div>
 </div>
 </div>


   <div class = "doctorinformation3">
 <div class= "doctorpicture3"> </div>
 <div class= "doctorname3">
Ugur Ozerdem, MD
 </div>
 <div>

 <div class= "doctorphone3">
Phone

 <div>
(203) 785-6601
</div>
</div>
<div class= "doctorlocation3">
Locations:
<div>
New Haven
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Ugur Ozerdem, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Male
</p>
<p>
Language(s): English
</p>
<p>
 Affiliated With: Yale Medical Group (YMG)
</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: Hacettepe University Faculty of Medicine
</p>
<p>
Internship: Loyola University Medical Center, Chicago, IL
</p>
<p>
Fellowship: Weill Cornell Medical College
</p>

 </div>
 </div>
 </div>
	</div>
 </div>
 </div>


  </div>



</body>
</html>
