<% provide(:title, "Pediatric Endocrinology") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Bridgeport Medical Center</title>
  </head>
<body>

	<div class = "frame1">
		<h12>Find A Doctor</h12>
	</div>

<div class = "onecategoryframe">
Pediatric Endocrinology
 <div class = "doctorinformation1">
 <div class= "doctorpicture1"> </div>
 <div class= "doctorname1">
Judith Hochstadt, MD
 </div>
 <div>

 <div class= "doctorphone1">
Phone

 <div>
(203) 452-8322
</div>
</div>
<div class= "doctorlocation1">
Locations:
<div>
Trumbull
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Judith Hochstadt, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Female
</p>
<p>
Language(s): English
</p>
<p>
Years In Practice: 34
</p>
<p>
 Affiliated With: Yale New Haven Children's Hospital, Bridgeport Campus

</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: SUNY at Brooklyn College of Medicine
</p>
<p>
Hometown: Yale New Haven Hospital, New Haven, CT
</p>
<p>
Fellowship: Yale New Haven Hospital, New Haven, CT
</p>

			     </div>

	</div>
 </div>
	</div>
	</div>
 </div>




  </div>



</body>
</html>
