<% provide(:title, "Pediatric Surgery") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Bridgeport Medical Center</title>
  </head>
<body>

	<div class = "frame1">
		<h12>Find A Doctor</h12>
	</div>

<div class = "onecategoryframe">
Pediatric Surgery
 <div class = "doctorinformation1">
 <div class= "doctorpicture1"> </div>
 <div class= "doctorname1">
Subhash Shah, MD, FACS
 </div>
 <div>

 <div class= "doctorphone1">
Phone

 <div>
(203) 366-3211
</div>
</div>
<div class= "doctorlocation1">
Locations:
<div>
Bridgeport
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Subhash Shah, MD, FACS </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Male
</p>
<p>
Language(s): English
</p>
<p>
Years In Practice: 39
</p>
<p>
 Affiliated With: Northeast Medical Group, Yale New Haven Children's Hospital, Bridgeport Campus

</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: Jn Medical College, India
</p>
<p>
Internship: Worcester City Hospital
</p>
<p>
Hometown: Bridgeport Hospital
</p>


			     </div>

	</div>
 </div>
	</div>
	</div>
 </div>



  <div class = "doctorinformation2">
 <div class= "doctorpicture2"> </div>
 <div class= "doctorname2">
Richard Garvey, MD
 </div>
 <div>

 <div class= "doctorphone2">
Phone

 <div>
(203) 366-3211
</div>
</div>
<div class= "doctorlocation2">
Locations:
<div>
Bridgeport
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Richard Garvey, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Male
</p>
<p>
Language(s): English, Spanish
</p>
<p>
Years In Practice: 37
</p>
<p>
 Affiliated With: Northeast Medical Group, Yale New Haven Children's Hospital, Bridgeport Campus

</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: Georgetown University School of Medicine, Washington, DC
</p>
<p>
Internship: Boston City Hospital
</p>
<p>
Hometown: Boston University School of Medicine, Boston, MA
</p>


			     </div>

	</div>
 </div>
	</div>
	</div>
 </div>



  </div>



</body>
</html>
