<% provide(:title, "Pediatrics") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Bridgeport Medical Center</title>
  </head>
<body>

	<div class = "frame1">
		<h12>Find A Doctor</h12>
	</div>

<div class = "onecategoryframe">
Pediatrics
 <div class = "doctorinformation1">
 <div class= "doctorpicture1"> </div>
 <div class= "doctorname1">
Michael J. Connolly, MD
 </div>
 <div>

 <div class= "doctorphone1">
Phone

 <div>
(203) 378-3080
</div>
</div>
<div class= "doctorlocation1">
Locations:
<div>
Stratford
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Michael J. Connolly, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Female
</p>
<p>
Language(s): English, Italian, Spanish
</p>
<p>
Years In Practice: 26
</p>
<p>
 Affiliated With: Yale New Haven Children's Hospital, Bridgeport Campus

</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: Albert Einstein College of Medicine
</p>
<p>
Internship: Yale New Haven Hospital
</p>
<p>
Hometown: Yale New Haven Hospital, New Haven, CT
</p>


			     </div>

	</div>
 </div>
	</div>
	</div>
 </div>




  <div class = "doctorinformation2">
 <div class= "doctorpicture2"> </div>
 <div class= "doctorname2">
Taesun P. Chung, MD
 </div>
 <div>

 <div class= "doctorphone2">
Phone

 <div>
(203) 254-3242
</div>
</div>
<div class= "doctorlocation2">
Locations:
<div>
Fairfield
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Taesun P. Chung, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Female
</p>
<p>
Language(s): English, Korean
</p>
<p>
Years In Practice: 22
</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: Kyungpook National University
</p>
<p>
Internship: Queens Hospital
</p>
<p>
Hometown: Queens Hospital
</p>
<p>
Fellowship: Westchester Institute of Human Development
</p>

			     </div>

	</div>
 </div>
	</div>
	</div>
 </div>



   <div class = "doctorinformation3">
 <div class= "doctorpicture3"> </div>
 <div class= "doctorname3">
Michelle Rivelli, MD
 </div>
 <div>

 <div class= "doctorphone3">
Phone

 <div>
(203) 924-7334
</div>
</div>
<div class= "doctorlocation3">
Locations:
<div>
Shelton
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Michelle Rivelli, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Female
</p>
<p>
Language(s): English, Italian, Spanish
</p>
<p>
Years In Practice: 25
</p>
<p>
 Affiliated With: Yale New Haven Children's Hospital, Bridgeport Campus

</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: University of Connecticut
</p>
<p>
Internship: Yale New Haven Hospital, New Haven, CT
</p>
<p>
Hometown: Yale New Haven Hospital, New Haven, CT
</p>


			     </div>

	</div>
 </div>
	</div>
	</div>
 </div>



  </div>



</body>
</html>
