<% provide(:title, "Plastic Reconstructive Surgery") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Bridgeport Medical Center</title>
  </head>
<body>

	<div class = "frame1">
		<h12>Find A Doctor</h12>
	</div>

<div class = "onecategoryframe">
Plastic Reconstructive Surgery
 <div class = "doctorinformation1">
 <div class= "doctorpicture1"> </div>
 <div class= "doctorname1">
Joseph B. O'Connell, MD
 </div>
 <div>

 <div class= "doctorphone1">
Phone

 <div>
(203) 454-0044
</div>
</div>
<div class= "doctorlocation1">
Locations:
<div>
Westport
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Joseph B. O'Connell, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Male
</p>
<p>
Language(s): English, Spanish
</p>
<p>
Years In Practice: 28
</p>
<p>
 Affiliated With: Yale New Haven Children's Hospital, Bridgeport Campus

</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: Cornell University Medical College
</p>
<p>
Internship: UConn Health Center
</p>
<p>
Hometown: St. Vincent's Medical Center; New York Hospital - Cornell Medical Center
</p>


			     </div>

	</div>
 </div>
	</div>
	</div>
 </div>




  <div class = "doctorinformation2">
 <div class= "doctorpicture2"> </div>
 <div class= "doctorname2">
Anya Kishinevsky, MD
 </div>
 <div>

 <div class= "doctorphone2">
Phone

 <div>
(203) 656-9999
</div>
</div>
<div class= "doctorlocation2">
Locations:
<div>
Darlen, Fairfield
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Anya Kishinevsky, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Female
</p>
<p>
Language(s): English, French, Hebrew, Russian, Spanish
</p>
<p>
Years In Practice: 10
</p>

<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: Albert Einstein College of Medicine
</p>
<p>
Internship: Montefiore Hospital
</p>
<p>
Hometown: Montefiore Hospital; Yale New Haven Hospital
</p>


			     </div>

	</div>
 </div>
	</div>
	</div>
 </div>



   <div class = "doctorinformation3">
 <div class= "doctorpicture3"> </div>
 <div class= "doctorname3">
Shareef Jandali, MD
 </div>
 <div>

 <div class= "doctorphone3">
Phone

 <div>
(203) 374-0310
</div>
</div>
<div class= "doctorlocation3">
Locations:
<div>
Trumbull
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Shareef Jandali, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Male
</p>
<p>
Language(s): English
</p>
<p>
Years In Practice: 5
</p>

<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: Upstate Medical Center Syracuse
</p>
<p>
Hometown: University of Pennsylvania Health System
</p>


			     </div>

	</div>
 </div>
	</div>
	</div>
 </div>


  </div>



</body>
</html>
