<% provide(:title, "Podiatry") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Bridgeport Medical Center</title>
  </head>
<body>

	<div class = "frame1">
		<h12>Find A Doctor</h12>
	</div>

<div class = "onecategoryframe">
Podiatry
 <div class = "doctorinformation1">
 <div class= "doctorpicture1"> </div>
 <div class= "doctorname1">
Robert Eterno, DPM
 </div>
 <div>

 <div class= "doctorphone1">
Phone

 <div>
(203) 374-1700
</div>
</div>
<div class= "doctorlocation1">
Locations:
<div>
Trumbull
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Robert Eterno, DPM </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Male
</p>
<p>
Language(s): English, Spanish
</p>
<p>
Years In Practice: 32
</p>
<p>
 Affiliated With: Northeast Medical Group

</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: New York College of Podiatric Medicine
</p>
<p>
Hometown: Harrison Community Hospital
</p>


			     </div>

	</div>
 </div>
	</div>
	</div>
 </div>




  <div class = "doctorinformation2">
 <div class= "doctorpicture2"> </div>
 <div class= "doctorname2">
Khristine Sparta, DPM
 </div>
 <div>

 <div class= "doctorphone2">
Phone

 <div>
(203) 255-1036
</div>
</div>
<div class= "doctorlocation2">
Locations:
<div>
Fairfield
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Khristine Sparta, DPM </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Female
</p>
<p>
Language(s): English
</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>


			     </div>

	</div>
 </div>
	</div>
	</div>
 </div>



   <div class = "doctorinformation3">
 <div class= "doctorpicture3"> </div>
 <div class= "doctorname3">
Kristen McGinness, DPM
 </div>
 <div>

 <div class= "doctorphone3">
Phone

 <div>
(203) 334-6878
</div>
</div>
<div class= "doctorlocation3">
Locations:
<div>
Bridgeport, Fairfield
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Kristen McGinness, DPM </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Female
</p>
<p>
Language(s): English
</p>
<p>
Years In Practice: 2
</p>
<p>
 Affiliated With: Northeast Medical Group

</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: College of Podiatric Medicine, Iowa
</p>

<p>
Hometown: Bridgeport Hospital
</p>


			     </div>

	</div>
 </div>
	</div>
	</div>
 </div>



  </div>



</body>
</html>
