<% provide(:title, "Reproductive Endocrinology") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Bridgeport Medical Center</title>
  </head>
<body>

	<div class = "frame1">
		<h12>Find A Doctor</h12>
	</div>

<div class = "onecategoryframe">
Reproductive Endocrinology
 <div class = "doctorinformation1">
 <div class= "doctorpicture1"> </div>
 <div class= "doctorname1">
Karol J. Chacho, MD
 </div>
 <div>

 <div class= "doctorphone1">
Phone

 <div>
(203) 372-5282
</div>
</div>
<div class= "doctorlocation1">
Locations:
<div>
Bridgeport
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Karol J. Chacho, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Male
</p>
<p>
Language(s): English, Portuguese, Spanish
</p>
<p>
Years In Practice: 32
</p>

<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: Loyola University
</p>
<p>
Internship: Michael Reese Hospital
</p>
<p>
Hometown: Michael Reese Hospital
</p>
<p>
Fellowship: Michael Reese Hospital
</p>

			     </div>

	</div>
 </div>
	</div>
	</div>
 </div>




  <div class = "doctorinformation2">
 <div class= "doctorpicture2"> </div>
 <div class= "doctorname2">
Pinar H. Kodaman, MD, PhD
 </div>
 <div>

 <div class= "doctorphone2">
Phone

 <div>
(203) 785-4708
</div>
</div>
<div class= "doctorlocation2">
Locations:
<div>
New Haven, Guilford, Stamford, Westport
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Pinar H. Kodaman, MD, PhD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Female
</p>
<p>
Language(s): English, French, Turkish
</p>
<p>
 Affiliated With: Yale Medical Group (YMG)

</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: Yale School of Medicine, New Haven, CT
</p>
<p>
Hometown: Yale School of Medicine, New Haven, CT
</p>
<p>
Fellowship: Yale School of Medicine, New Haven, CT
</p>

			     </div>

	</div>
 </div>
	</div>
	</div>
 </div>



   <div class = "doctorinformation3">
 <div class= "doctorpicture3"> </div>
 <div class= "doctorname3">
Jeff G. Wang, MD
 </div>
 <div>

 <div class= "doctorphone3">
Phone

 <div>
(203) 880-5416
</div>
</div>
<div class= "doctorlocation3">
Locations:
<div>
Trumbull
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Jeff G. Wang, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Male
</p>
<p>
Language(s): English
</p>

<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: University of Florida
</p>

<p>
Hometown: New York Presbyterian Columbia University
</p>
<p>
Fellowship: New York Presbyterian Columbia University
</p>

			     </div>

	</div>
 </div>
	</div>
	</div>
 </div>





 </div>



</body>
</html>
