<% provide(:title, "Rheumatology") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Bridgeport Medical Center</title>
  </head>
<body>

	<div class = "frame1">
		<h12>Find A Doctor</h12>
	</div>

<div class = "onecategoryframe">
Rheumatology
 <div class = "doctorinformation1">
 <div class= "doctorpicture1"> </div>
 <div class= "doctorname1">
Geoffrey Gladstein, MD
 </div>
 <div>

 <div class= "doctorphone1">
Phone

 <div>
(203) 371-5873
</div>
</div>
<div class= "doctorlocation1">
Locations:
<div>
Trumbull
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Geoffrey Gladstein, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Male
</p>
<p>
Language(s): English, Portuguese, Spanish
</p>
<p>
Years In Practice: 38
</p>
<p>
 Affiliated With: Northeast Medical Group

</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: George Washington University School of Medicine & Health Sciences, Washington, DC
</p>
<p>
Internship: Albany Medical Center
</p>
<p>
Hometown: Albany Medical College of Union University, Albany, NY
</p>
<p>
Fellowship: Albany Medical College of Union University, Albany, NY
</p>

			     </div>

	</div>
 </div>
	</div>
	</div>
 </div>
 </div>



  <div class = "doctorinformation2">
 <div class= "doctorpicture2"> </div>
 <div class= "doctorname2">
Mirela Dumitrescu, MD
 </div>
 <div>

 <div class= "doctorphone2">
Phone

 <div>
(203) 371-5873
</div>
</div>
<div class= "doctorlocation2">
Locations:
<div>
Trumbull
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Mirela Dumitrescu, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Female
</p>
<p>
Language(s): English, French, Italian, Portuguese, Romanian, Spanish
</p>
<p>
Years In Practice: 20
</p>
<p>
 Affiliated With: Northeast Medical Group

</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: University of Medicine and Pharmacy
</p>
<p>
Internship: Bellevue Hospital; Victor Babes University of Medicine and Pharmacy
</p>
<p>
Hometown: NY University
</p>
<p>
Fellowship: State University of New York Stony Brook University
</p>

			     </div>

	</div>
 </div>
	</div>
	</div>
 </div>



   <div class = "doctorinformation3">
 <div class= "doctorpicture3"> </div>
 <div class= "doctorname3">
Germano A. Guadagnoli, MD
 </div>
 <div>

 <div class= "doctorphone3">
Phone

 <div>
(203) 371-5873
</div>
</div>
<div class= "doctorlocation3">
Locations:
<div>
Trumbull
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Germano A. Guadagnoli, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Male
</p>
<p>
Language(s): English, Italian, Portuguese, Spanish
</p>
<p>
Years In Practice: 24
</p>
<p>
 Affiliated With: Northeast Medical Group

</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>

<p>
Internship: Bridgeport Hospital
</p>
<p>
Hometown: Bridgeport Hospital
</p>
<p>
Fellowship: State University of New York
</p>

			     </div>

	</div>
 </div>
	</div>
	</div>
 </div>





 </div>



</body>
</html>
