<% provide(:title, "Spine Surgery") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Bridgeport Medical Center</title>
  </head>
<body>

	<div class = "frame1">
		<h12>Find A Doctor</h12>
	</div>

<div class = "onecategoryframe">
Spine Surgery
 <div class = "doctorinformation1">
 <div class= "doctorpicture1"> </div>
 <div class= "doctorname1">
Robert V. Dawe, MD
 </div>
 <div>

 <div class= "doctorphone1">
Phone

 <div>
(203) 337-2600
<div>ext. 1106</div>
</div>
</div>
<div class= "doctorlocation1">
Locations:
<div>
Fairfield, Stratford, Shelton
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Robert V. Dawe, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Male
</p>
<p>
Language(s): English, Italian, Spanish
</p>
<p>
Years In Practice: 36
</p>
<p>
 Affiliated With: Yale New Haven Children's Hospital, Bridgeport Campus

</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: New York Medical College, Valhalla, NY
</p>
<p>
Internship: Hartford Hospital
</p>
<p>
Hometown: St. Lukes/Roosevelt Hospital
</p>
<p>
Fellowship: DuPont Institute
</p>

 </div>
 </div>
 </div>
 </div>
 </div>
 </div>



  <div class = "doctorinformation2">
 <div class= "doctorpicture2"> </div>
 <div class= "doctorname2">
John N. Awad, MD
 </div>
 <div>

 <div class= "doctorphone2">
Phone

 <div>
(203) 337-2600
</div>
</div>
<div class= "doctorlocation2">
Locations:
<div>
Fairfield, Shelton, Stratford
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  John N. Awad, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Male
</p>
<p>
Language(s): English
</p>
<p>
Years In Practice: 11
</p>
<p>
Affiliated With: Yale New Haven Children's Hospital, Bridgeport Campus

</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: Cooper Hospital
</p>
<p>
Internship: Johns Hopkins Hospital
</p>
<p>
Hometown: Johns Hopkins Hospital
</p>
<p>
Fellowship: New York University Medical Center
</p>

			     </div>

	</div>
 </div>
	</div>
 </div>
 </div>

 </div>



</body>
</html>
