<% provide(:title, "Sports Medicine") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Bridgeport Medical Center</title>
  </head>
<body>

	<div class = "frame1">
		<h12>Find A Doctor</h12>
	</div>

<div class = "onecategoryframe">
Sports Medicine
 <div class = "doctorinformation1">
 <div class= "doctorpicture1"> </div>
 <div class= "doctorname1">
Marissa M. Smith, MD
 </div>
 <div>

 <div class= "doctorphone1">
Phone

 <div>
(203) 268-2882
</div>
</div>
<div class= "doctorlocation1">
Locations:
<div>
Trumbull
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Marissa M. Smith, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Female
</p>
<p>
Language(s): English
</p>
<p>
Years In Practice: 1
</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: West Virgina University
</p>

<p>
Hometown: Connecticut Childrens Medical Center
</p>
<p>
Fellowship: Hospital for Special Surgery
</p>

			     </div>

	</div>
 </div>
	</div>
 </div>
 </div>



  <div class = "doctorinformation2">
 <div class= "doctorpicture2"> </div>
 <div class= "doctorname2">
Lauren Fabian, MD
 </div>
 <div>

 <div class= "doctorphone2">
Phone

 <div>
(203) 337-2600
</div>
</div>
<div class= "doctorlocation2">
Locations:
<div>
Fairfield
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Lauren Fabian, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Female
</p>
<p>
Language(s): English
</p>
<p>
Years In Practice: 3
</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: Columbia Univ. College of Physicians & Surgeons

</p>
<p>
Internship: New York Presbyterian Columbia University

</p>
<p>
Hometown: New York Presbyterian Columbia University

</p>
<p>
Fellowship: Kerlan Jobe Orthopaedic Clinic

</p>

			     </div>

	</div>
 </div>
	</div>
 </div>
 </div>


   <div class = "doctorinformation3">
 <div class= "doctorpicture3"> </div>
 <div class= "doctorname3">
Sean R. Kelly, MD
 </div>
 <div>

 <div class= "doctorphone3">
Phone

 <div>
(203) 372-0649
</div>
</div>
<div class= "doctorlocation3">
Locations:
<div>
Bridgeport, Stratford
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Sean R. Kelly, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender:Female
</p>
<p>
Language(s): English, Spanish
</p>

<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: Uniformed Services University of the Health Sciences

</p>
<p>
Internship: National Naval Medical Center

</p>
<p>
Hometown: Walter Reed Army Medical Center

</p>


			     </div>

	</div>
 </div>
	</div>
 </div>
 </div>




 </div>



</body>
</html>
