<% provide(:title, "Urology") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Bridgeport Medical Center</title>
  </head>
<body>

	<div class = "frame1">
		<h12>Find A Doctor</h12>
	</div>

<div class = "onecategoryframe">
Urology
 <div class = "doctorinformation1">
 <div class= "doctorpicture1"> </div>
 <div class= "doctorname1">
Jonathan Bernie, MD
 </div>
 <div>

 <div class= "doctorphone1">
Phone

 <div>
(203) 853-4200
</div>
</div>
<div class= "doctorlocation1">
Locations:
<div>
Norwalk
	</div>
		<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p> Jonathan Bernie, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender:Male
</p>
<p>
Language(s): English, Spanish
</p>
<p>
Years In Practice: 13
</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: Case Western Reserve University, Cleveland, OH

</p>

<p>
Hometown: University of California at San Diego: La Jolla, CA


</p>
<p>
Fellowship: Indiana University School of Medicine, Indianapolis, IN


</p>

			     </div>

	</div>
 </div>
	</div>
 </div>
 </div>



  <div class = "doctorinformation2">
 <div class= "doctorpicture2"> </div>
 <div class= "doctorname2">
Lawrence D. Muldoon, MD
 </div>
 <div>

 <div class= "doctorphone2">
Phone

 <div>
(203) 254-1576
</div>
</div>
<div class= "doctorlocation2">
Locations:
<div>
Fairfield
	</div>
			<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p> Lawrence D. Muldoon, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender:Male
</p>
<p>
Language(s): English
</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: Northwestern University

</p>

<p>
Hometown: CaseWesternReserveUniversitySchoolofMedicine OH



</p>


			     </div>

	</div>
 </div>
	</div>
 </div>
 </div>


   <div class = "doctorinformation3">
 <div class= "doctorpicture3"> </div>
 <div class= "doctorname3">
Jeffrey D. Small, MD
 </div>
 <div>

 <div class= "doctorphone3">
Phone

 <div>
(203) 372-4419
</div>
</div>
<div class= "doctorlocation3">
Locations:
<div>
Bridgeport
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Jeffrey D. Small, MD</p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender:Male
</p>
<p>
Language(s): English, Spanish
</p>
<p>
Years In Practice: 23
</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: New York Medical College, Valhalla, NY

</p>
<p>
Internship: Hartford Hospital

</p>
<p>
Hometown: U Conn Health Center

</p>

			     </div>

	</div>
 </div>
 </div>
 </div>
 </div>
	</div>
 </div>
 </div>




 </div>



</body>
</html>
