<% provide(:title, "Vascular Surgery") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Bridgeport Medical Center</title>
  </head>
<body>

	<div class = "frame1">
		<h12>Find A Doctor</h12>
	</div>

<div class = "onecategoryframe">
Vascular Surgery
 <div class = "doctorinformation1">
 <div class= "doctorpicture1"> </div>
 <div class= "doctorname1">
Seth B. Blattman, MD
 </div>
 <div>

 <div class= "doctorphone1">
Phone

 <div>
(203) 382-1900
</div>
</div>
<div class= "doctorlocation1">
Locations:
<div>
Fairfield
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Seth B. Blattman, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender:Male
</p>
<p>
Language(s): English, Spanish
</p>
<p>
Years In Practice: 10
</p>
<p>
Affiliated With: Yale New Haven Children's Hospital, Bridgeport Campus
</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: SUNY Downstate Medical Center, NY

</p>
<p>
Internship: SUNY Downstate Medical Center, NY

</p>
<p>
Hometown: SUNY Downstate Medical Center, NY

</p>
<p>
Fellowship: Beth Israel Deaconess Medical Center;Harvard Medical School, Boston, MA

</p>

			     </div>

	</div>
 </div>
 </div>
 </div>
 </div>





  <div class = "doctorinformation2">
 <div class= "doctorpicture2"> </div>
 <div class= "doctorname2">
Kaveh Shahmohammadi, MD
 </div>
 <div>

 <div class= "doctorphone2">
Phone

 <div>
(203) 375-2861
</div>
</div>
<div class= "doctorlocation2">
Locations:
<div>
Stratford
	</div>
	<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Kaveh Shahmohammadi, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender:Male
</p>
<p>
Language(s): English
</p>
<p>
Years In Practice: 3
</p>
<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: American University of the Caribbean

</p>
<p>
Internship: Vanderbilt University Sch. of Medicine

</p>
<p>
Hometown: St. Marys Hospital

</p>
<p>
Fellowship: University of Connecituct;Boston University Medical Center MA

</p>

			     </div>

	</div>
 </div>
	</div>
 </div>
 </div>


   <div class = "doctorinformation3">
 <div class= "doctorpicture3"> </div>
 <div class= "doctorname3">
Stephen M. Bauer, MD
 </div>
 <div>

 <div class= "doctorphone3">
Phone

 <div>
(203) 299-1699
</div>
</div>
<div class= "doctorlocation3">
Locations:
<div>
Darien, Stratford, Old Greenwich
	</div>
		<div class="dropdown2">
			<div class= "doctordetails1"><h13>More Details</h13>
			</div>
		<div class= "dropdown-content2">
			<p>  Stephen M. Bauer, MD </p>
			     <div class = "doctordetailscontainer">
			     <u>Biography:</u>
			      <p></p>
			      <p></p>
<p>
Gender: Male
</p>
<p>
Language(s): Italian, Spanish
</p>

<p></p>
<p>
<u>Education & Training:</u>
</p>
<p>

Education: Rosalind Franklin University of Medicine and Science, The Chicago Medical School

</p>
<p>
Internship: Hospital of the University of Pennsylvania

</p>
<p>
Hometown: Hospital of the University of Pennsylvania

</p>
<p>
Fellowship: New York University School of Medicine

</p>

			     </div>

	</div>
 </div>
	</div>
	</div>
 </div>
 </div>




 </div>



</body>
</html>
