<% provide(:title, "Hello" ) %>


<html>
  
  <body>
    <div class = "userbackground">
    
    
      <div class ="usertitletab", style= "margin: 0 auto;">
        <div class = "usertab1">
         <%= link_to "Database", userdatabase_path %>
          
	       </div>
	       <div class = "usertab2">
	         <%= link_to "Create Account for Office or Doctor", createaccount_path %>
 	   	   
 	       </div>
 	       <div class = "usertab3">
 	   	    <h7>Website Edit</h7>
 	       </div>
 	     </div>
 	   <div class = "invisibleblock">
 	   </div>
 	   
 	   <p>
     <%= link_to image_tag("BridgeportMedicalCenter.png", alt: "Bridgeport Medical Center", width: "1100px", height: "350px", style: "display: block;   margin: 0 auto;") %>
    </p>
    
    
</div>
    
</body>
</html>