<% provide(:title, "Hello") %>


<html>
  
  <body>
    <div class = "userbackground">
    
    
      <div class ="usertitletab", style= "margin: 0 auto;">
        <div class = "usertab1">
          <h7>View Schedule</h7>
          
	       </div>
	       <div class = "usertab2">
 	   	    <h7>Patient's File</h7>
 	       </div>
 	       
 	     </div>
 	   <div class = "invisibleblock">
 	   </div>
 	   <p>
     <%= link_to image_tag("BridgeportMedicalCenter.png", alt: "Bridgeport Medical Center", width: "1100px", height: "350px", style: "display: block;   margin: 0 auto;") %>
    </p>
    
    
</div>
    
</body>
</html>